{% extends 'base.html.twig' %}

{% block title %}
    Réinitialisation du mot de passe réussi - {{parent()}}
{% endblock %}

{% block body %}
<div class="container my-cont-user">

    <div class="row">
    	<div class="col-12">
		    <div class="row justify-content-md-center">
		        <div class="my-form-user col-lg-5 col-md-8 col-sm-12 col-12">
		            <div class="col-12 well">
		            	<div class="text-center">
		            		<h1>Réinitialisation du mot de passe réussi</h1>
		            		<hr>
		            	</div>
						<div>
							<p>
								Le mot de passe à bien été réinitialisé
							</p>
						</div>
		            </div>
		        </div>
		    </div>
		</div>
    </div>

</div> 
{% endblock %}