{% extends 'base.html.twig' %}

{% block title %}
    Erreur 404 - {{parent()}}
{% endblock %}

{% block body %}
    <div class="container">
    	<div class="row">
    		<div class="col-12">
		    	<h1>Erreur 404</h1>
		    	<p>La page que vous cherchiez n'existe pas</p>
	    	</div>
	    	<div class="col-12 text-center">
	    		<img class="my-img-error" src="{{asset('img/404.png')}}">
	    	</div>
    	</div>
    </div>
{% endblock %}