{% extends 'base.html.twig' %}

{% block title %}
    Erreur - {{parent()}}
{% endblock %}

{% block body %}
    <div class="container">
    	<div class="row">
    		<div class="col-12">
		    	<h1>Erreur</h1>
		    	<p>Une erreur s'est produite sur le serveur</p>
	    	</div>
	    	<div class="col-12 text-center">
	    		<img class="my-img-error" src="{{asset('img/error.jpg')}}">
	    	</div>
    	</div>
    </div>
{% endblock %}